<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrival Data</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body class="dark-theme">
    <h1 class="title">Arrival Data</h1>
    <table class="data-table">
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Month</th>
            <th>Passengers</th>
        </tr>
        {% for arrival in page_obj %}
        <tr>
            <td>{{ arrival.country }}</td>
            <td>{{ arrival.year }}</td>
            <td>{{ arrival.month }}</td>
            <td>{{ arrival.passengers }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="neon-button" href="?page=1">&laquo; first</a>
                <a class="neon-button" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a class="neon-button" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="neon-button" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>